body {
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
}
.navbar {

   background-color: #339CFF; 
}

.valores{
    background-color: #D1D1D1;
    
    
}
.margin {
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros{
    background-color: #BFBFBF;
}

.servicos{
    background-color: #808080;
}

.rodape{
    background-color: #2C2C2C;
    color: white;
    font-family: Popsies;
    font-weight: bold;
}
